BACKUP=""
CONSOLE="rxvt"
FILE_ARCHIVER="xarchive"
FILE_FINDER="pfind"
FILE_MANAGER="rox"
GRUB=""
NETWORK="net-setup.sh"
NOTEBOOK=""
ORGANIZER="defaultcalendar"
PUP_RXVT="on"
REMOTE_DESKTOP=""
SAMBA=""
SCANNER=""
SHUTDOWN_DIALOG="no"
TASK_MANAGER=""
TIME_MANAGER=""
VPN_CLIENT=""
WALLPAPER="wallpaper"
WIRELESS=""
